# Next Auth URL
NEXTAUTH_URL=http://localhost:3000
# Next Auth Secret
# Generate with: openssl rand -base64 32
NEXTAUTH_SECRET=

# Firebase Auth
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# Firebase Service Account Credentials
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_PROJECT_URL=

# Stripe Auth
STRIPE_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Stripe Auth Test
TEST_STRIPE_API_KEY=
NEXT_PUBLIC_TEST_STRIPE_PUBLISHABLE_KEY=

# Stripe Pricing Table
NEXT_PUBLIC_DARK_PRICING_TABLE_ID=
NEXT_PUBLIC_LIGHT_PRICING_TABLE_ID=

# Encryption Key
# Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
ENCRYPTION_KEY=